@import '~antd/dist/antd.css';

body { 
  background-color: rgb(214, 213, 213);
}

.App {
  text-align: center;
}
.label {
  margin-top: 0;
  margin-bottom: 0;
}
.required {
  margin-top: 0;
  margin-bottom: 0;
  color: red;
  display: inline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px black;
}

.form-container { 
  background-color: white;
  padding:10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.totalPriceContainer {
  margin-bottom: 0;
  
}
/* .totalPriceContainer label{ 
  color: blue; 
  text-align: right !important; 
} */
.ant-form-vertical .totalPriceContainer .ant-form-item-label{ 
  color: blue; 
  text-align: end !important; 
}
 
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  } 
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}